.faq-container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 20px;
}

.FaqContainer {
  max-width: 1197px;
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.faqHeader {
  font-family: Poppins;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
}

.faqPara {
  font-family: Poppins;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.faq-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.faq-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.faq-question {
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusSign {
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.faq-answer {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}

@media (max-width: 768px) {
  .faq-row {
    flex-direction: column;
  }
}
