.CTAcontainer {
  max-width: 1197px;
  width: 100%;
   padding: 50px 0px 66px 0px;
  border-radius: 10px;
 background-image: linear-gradient(to right top, #671ae4, #7e2ceb, #923df1, #a54cf8, #b75cff);
  margin-top: 300px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 300px auto;
  margin-inline:auto;
}

.ctaHeader {
  font-family: Poppins;
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
}

.ctaBtn {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width:1220px) {
  .CTAcontainer{
     max-width: calc(100% - 40px);
     margin-top: 200px;
  }
 
}

@media screen and (max-width:1024px){
  .CTAcontainer{
    margin-top: 100px;
  }
}


