.homeSection {
  padding-inline: 20px;
}

.containerHome {
  max-width: 1197px;
  display: flex;
  gap: 25px;
  margin-top: 100px;
  margin-inline: auto;
  justify-content: space-between;
}
.left {
  max-width: 490px;
}

.leftContentHeader {
  color: #ffffff;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 700;
  opacity: 0.9;
  max-width: 490px;
  width: 100%;
}

.leftContentPara {
  max-width: 490px;
  color: #ffffff80;
  font-weight: 500;
  font-size: 20px;
  font-style: medium;
  font-family: sans-serif;
  line-height: 180%;
}

.left-button {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

#button1 {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 20px;
  font-family: Poppins;
  cursor: pointer;
}
#button2 {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  opacity: 0.9;
  border: none;
  width: 110px;
  font-weight: 500;
  font-size: 20px;
  font-family: Poppins;
  cursor: pointer;
}
.left-miniContent {
  width: 487px;
  height: 75px;
  display: flex;
  gap: 100px;
  flex-direction: row;
  margin-top: 40px;
}
.left-miniContent div h2 {
  width: 72px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.left-miniContent div p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: medium;
  line-height: 100%;
}
.minContentDiv1 {
  width: 88px;
  height: 75px;
}

.minContentDiv2 {
  width: 75px;
  height: 75px;
}
.minContentDiv3 {
  width: 102px;
  height: 75px;
}

#div1 img {
  width: 100%;
  aspect-ratio: 591/517;
  margin-right: 14px;
}

@media screen and (max-width: 998px) {
  .containerHome {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 998px) {
  .right {
    display: flex;
    flex-direction: column;
  }
  .left {
    max-width: 600px;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .left-miniContent {
    max-width: 487px;
    width: 100%;
    height: 75px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-top: 40px;
  }
}
