body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  max-width: 1197px;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  margin-inline: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  color: #9a31f0;
  font-family: Arial, Helvetica, sans-serif;
}


.firstWord {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links li a:hover {
  transition: 0.4s ease-in-out;
  text-decoration: underline;
  color: #a784df;
}

.nav-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ddd;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}

.navigationBar {
  display: flex;
  gap: 25px;
}
.navButton {
  margin: auto;
}

.search {
  border: none;
}
#text {
  width: 332px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 52px 10px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  color: white;
}

#connectbtn {
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: 0.1px solid   #671ae4;
  outline: none;
  color: #fff;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  gap: 10px;
  font-size: 20px;
}

#connectbtn:hover {
  background: transparent;
  border:0.1px solid  white;
  transition: 0.2s ease-out;
}

.navHamburger {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 998px) {
  .navButton {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .hamburgerIcon {
    width: 100px;
  }

  .menuMobile {
    position: fixed;
    top: 0px;
    right: -12px;
    max-width: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #816f6f;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    z-index: 999;
    transition-duration: 2s;
    transition-timing-function: step-end;
    transition-delay: 1s;
    transform: translateX(10px);
  }

  .menuMobile li {
    margin-left: 39px;
  }

  .menuMobile a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ddd;
    padding: 8px 12px;
    border-radius: 6px;
  }

  .menuMobile a:hover {
    text-decoration: underline;
  }

  .closeIcon {
    margin-left: 127px;
    margin-top: 25px;
  }

  .closeIcon button {
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #text {
    width: 200px;
    border-radius: 6px;
    border: none;
    padding: 10px 52px 10px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
  }

  .menuMobile {
    position: fixed;
    top: -10px;
    left: 0px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #816f6f;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    z-index: 999;
    transition: 0.2s;
    transform: translateY(10px);
  }

  .menuMobile a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    margin: auto;
  }

  .menuMobile a:hover {
    text-decoration: underline;
  }

  .menuMobile li {
    margin-left: 209px;
  }

  .closeIcon {
    display: flex;
    justify-content: end;
    margin-right: 13px;
  }
}
