.swiper-container{
  max-width: 1197px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
  justify-content: space-between;
}

.swiper{
  max-width: 1197px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 200/60; 
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 50%;
  object-fit: contain; 
  display: block;
}


@media screen and (max-width: 1024px) {
  .swiper-container{
    margin-top: 100px;
  }

}










 

