* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1216px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

@media  screen and (max-width:992px) {

  .container{
    padding-inline:40px;
  }
  
}
